.admin/vendor/*
.admin/.build/*
.admin/tmp/.*
.env
.admin/composer.lock
gc
.admin/auth.json
.admin/public/css/*.min.css
.admin/public/js/*.min.js
vendor/*
error.myproject1.log
.admin/tmp/db-backup.sql
.admin/client.schema.xml
.admin/client.schema.xml.1
.admin/client.schema.xml.2
.admin/project.schema.xml
.admin/project.schema.xml.1
.admin/project.schema.xml.2
.admin/runtime-conf.xml
.admin/build.properties
.admin/config/Built/config.php
.admin/config/Built/db.php