.admin/vendor/*
.admin/.build/*
.admin/tmp/.*
.env
.admin/composer.lock
gc
.admin/auth.json
.admin/public/css/*.min.css
.admin/public/js/*.min.js
vendor/*
error.myproject1.log
.admin/tmp/db-backup.sql
